$hero-bg: #454549;
$hero-text: #FFFFFF;
$form-bg: $hero-text;
$form-border: #D1D5DB;
$box-shadow: rgba(0, 0, 0, 0.05);
$input-text: #9CA3AF;
$btn-text: #F9FAFB;
$btn-bg: #111827;
$btn-active-text: #FDFF00;
$btn-active-bg: #3330E4;
$search-btn-text: #374151;
$film-wrapper-border: #E5E7EB;
$film-img-bg: #454549;
$pages-text: #444444;
$watchlist-text: #363636;