$max-w-100: 100%;
$min-h-100: 100vh;
$line-height: 1.6;
$img-fixed-width: 165px;
$container-w: 85%;
$form-w: 90%;
$input-padding: 0.8em;
$input-w: 60%;
$hero-padding-y: 5em;
$hero-padding-x: 2em;
$radius-fixed: 6px;
$search-btn-w: 38%;
$search-btn-padding-y: 0.6em;
$search-btn-padding-r: 0.7em;
$search-btn-padding-l: 1.1em;