@import './partials/colors';
@import './partials/reset';
@import './partials/dimensions';
@import './partials/fontWeight';

*,
::after,
::before {
    box-sizing: border-box;
}

html,
body {  
    margin: $margin-zero;
    padding: $padding-zero;
}

body {
    min-height: $min-h-100;
    font-family: 'Inter', sans-serif;
    line-height: $line-height;
}

/* IMAGES */
img {
    max-width: $max-w-100;
		width: $img-fixed-width;
    object-fit: cover;
}

input,
button {
    font: inherit;
    border: $none;
}

.container {
    max-width: $max-w-100;
    width: $container-w;
    margin: $margin-zero $auto;
}

/* HEADER */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: {
      color: $hero-bg;
      image: url('../images/hero.png');
      repeat: no-repeat;
      size: cover;
      position: center;
    }
    padding: $hero-padding-y $hero-padding-x;
    filter: contrast(1.50);
    .hero-title {
      font: {
        size: 2.7rem;
        weight: $fw-800;
      }
      margin-bottom: $margin-zero;
    }
    p {
      margin-top: $margin-zero;
    }
    .hero-link {
      text-decoration: $none;
    }
}

.hero,
.hero-link {
    color: $hero-text;
}

/* Form */
.search-form {
    padding: $padding-zero;
    position: absolute;
    left: 0;
    right: 0;
    top: 16.9em;
    max-width: $max-w-100;
    width: $form-w;
    margin: $auto;
    background: $form-bg;
    border: 1px solid $form-border;
    box-shadow: 0px 1px 2px $box-shadow;
    border-radius: $radius-fixed;
    .search-input {
        padding: $input-padding;
        color: $input-text;
        font-size: 1.2rem;
        background: url("../images/search-icon.png") no-repeat left;
        margin: 0 0 0 .5em;
        width: $input-w;
    }
    
    .search-btn {
        background: $btn-text;
        border: {
          left: 1px solid $form-border;
          radius: 0px $radius-fixed $radius-fixed 0px;
        }
        padding: $search-btn-padding-y $search-btn-padding-r $search-btn-padding-y $search-btn-padding-l;
        font: {
          weight: $fw-500;
          size: 1.2rem;
        }
        color: $search-btn-text;
        cursor: pointer;
        width: $search-btn-w;
        &:disabled {
            cursor: not-allowed;
        }
        
        &:not(:disabled):hover,
        &:not(:disabled):focus {
            box-shadow: 0 0 0.25rem $box-shadow;
        }
    }
}

.add-btn:active,
.add-btn:hover,
.remove-btn:active,
.remove-btn:hover {
    color: $btn-active-text;
    background-color: $btn-active-bg;
}

.add-btn:active,
.remove-btn:active {
  transform: translate(0.8px, 1.4px);
}

/*
  Media Queries
*/
@media (max-width: 37.625em) {
	.film-wrapper {
		font-size: .7rem;
	}
}

@media (max-width: 42.5em) {
	.film-wrapper {
		font-size: .83rem;
	}
}


@media (max-width: 48.875em) {
		.search-input {
			width: 57%;
		}

		.search-btn {
			width: 32%;
		}

		.welcome-page, 
		.watchlist-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1em;
			margin: 4em 0em;
			max-width: 100%;
		}

    .film-wrapper {
			margin: 3em 0em;
			display: flex;
			gap: 2em;
			width: 100%;
			height: 300px;
			border-bottom: 1.5px solid $film-wrapper-border;
      .film-img {
        background-color: $film-img-bg;
        margin-bottom: 1.3em;
      }
      .film-sub-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .sub-wrapper-header,
          .sub-wrapper-sub-header {
            display: flex;
            align-items: center;
            gap: 1em;
          }
      }
		}

	.sub-wrapper-select {
			display: flex;
			align-items: center;
			gap: 1em;
	}

	.add-btn,
	.remove-btn {
			border-radius: 50%;
			cursor: pointer;
			width: 28px;
			height: 28px;
			font-size: 1rem;
			background-color: $btn-bg;
			color: $btn-text;
	}
}

@media (min-width:48.9375em) {
    h1 {
        font-weight: $fw-500;
    }

    h2 {
        font: {
          weight: $fw-700;
          size: 1.5rem;
        }
    }

    .hero-link {
        font: {
          weight: $fw-500;
          size: 1.125rem;
        }
    }

    /* MAIN WELCOME BODY BEFORE SEARCH */
    .welcome-page,
    .watchlist-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        margin: 4em 0em;
        max-width: $max-w-100;

    }

    .welcome-page-bg {
        width: 180px;
    }

    .welcome-page-body,
    .watchlist-body {
        font: {
          weight: $fw-700;
          size: 1.5rem;
        }
        color: $pages-text;
        margin-top: $margin-zero;
    }

    .watchlist-body {
        margin-bottom: $margin-zero;
    }

    
    .watchlist-empty {
      display: flex;
      align-items: center;
      p {
        color: $watchlist-text;
        margin-left: 0.4em;
        font: {
          weight: $fw-700;
          size: 1.4rem;
        }
      }
    }

    .add-icon-img {
        width: 27px;
        height: 27px;
    }

    .film-wrapper {
				margin: $margin-zero;
        display: flex;
        gap: 2em;
        width: $max-w-100;
        height: 300px;
        border-bottom: 1.5px solid $film-wrapper-border;
        .film-img {
            background-color: $film-img-bg;
            margin-bottom: 1.3em;
        }
        .film-sub-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .sub-wrapper-header,
            .sub-wrapper-sub-header {
                display: flex;
                align-items: center;
                gap: 1em;
            }
        }
    }

    .sub-wrapper-select {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .add-btn,
    .remove-btn {
        border-radius: 50%;
        cursor: pointer;
        width: 28px;
        height: 28px;
        font-size: 1rem;
        background-color: $btn-bg;
        color: $btn-text;
    }
}